<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wgu_companion.wgucompanion">

    <!--<uses-permission android:name="android.permission.CAMERA"/>-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TermsOverviewActivity"
            android:label="Terms"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wgu_companion.wgucompanion.HomeActivity" />
        </activity>

        <activity
            android:name=".CoursesOverviewActivity"
            android:label="Courses"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wgu_companion.wgucompanion.HomeActivity" />
        </activity>

        <activity
            android:name=".AssessmentOverviewActivity"
            android:label="Assessments"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wgu_companion.wgucompanion.HomeActivity" />
        </activity>

        <activity
            android:name=".CourseNotesActivity"
            android:label="Course Notes"
            android:parentActivityName=".AssessmentsDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wgu_companion.wgucompanion.AssessmentsDetailActivity" />
        </activity>

        <activity android:name=".TermDetailActivity"
            android:label="Term Detail"
            android:parentActivityName=".TermsOverviewActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.wgu_companion.wgucompanion.TermsOverviewActivity"/>
        </activity>

        <activity android:name=".CoursesDetailActivity"
            android:label="Course Detail"
            android:parentActivityName=".CoursesOverviewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wgu_companion.wgucompanion.CoursesOverviewActivity"/>
        </activity>

        <activity android:name=".AssessmentsDetailActivity"
            android:label="Assessment Detail"
            android:parentActivityName=".AssessmentOverviewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wgu_companion.wgucompanion.AssessmentOverviewActivity"/>
        </activity>

        <provider
            android:name=".CompanionContentProvider"
            android:authorities="come.example.wgu_companion.companioncontentprovider"
            android:exported="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <receiver android:name=".AlarmReceiver" />
    </application>
</manifest>